<launch>

  <include file="$(find rosserial_server)/launch/socket.launch" />

  <node pkg="ps3" type="joystick.py" name="joystick"/>
  <node pkg="ps3" type="joySubPub.py" name="joyPubSub" />

  <node pkg="view3D"  type="euler_to_tf.py"  name="IMU_3D" args="0 0 0 0 0 0 1 map IMU 10" >
    <param name="frame_id" value="IMU" />
    <param name="subs_name" value="/rpy" />
  </node>

  <!--node pkg="view3D"  type="euler_to_tf.py"  name="Joy_3D" args="0 0 0 0 0 0 1 map Joy 10" >
    <param name="frame_id" value="Joy" />
    <param name="subs_name" value="/commands/rpy_command" />
  </node-->

</launch>

